body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #ffffff;
}

h1 {
    color:aquamarine;
    margin-bottom: 20px;
}

.stopwatch {
    text-align: center;
    background: black;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

#startStopBtn {
    background-color: #28a745; 
}

#resetBtn {
    background-color: #dc3545;
}

#lapBtn {
    background-color: #007bff; 
}

.buttons button:hover {
    opacity: 0.8;
}

#laps {
    margin-top: 20px;
}

#laps div {
    background: #f8f9fa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 0
}
